.tg {
  border-collapse: collapse;
  border-color: #93a1a1;
  border-spacing: 0;
}
.tg td {
  background-color: #fdf6e3;
  border-color: #93a1a1;
  border-style: solid;
  border-width: 1px;
  color: #002b36;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}



.tg th {
  background-color: #657b83;
  border-color: #93a1a1;
  border-style: solid;
  border-width: 1px;
  color: #fdf6e3;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}


.tg td:hover{
    background-color: #c9a951;
}